.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:40px 120px;
    color:white;
}

.nav-logo{
    font-family: 'Outfit';
    font-size: 42px;
    font-weight:500;
}

.nav-menu{
    display:flex;
    align-items: center;
    list-style:none;
    font-size:18px;
    gap:90px;
}

.nav-contact{
    border-radius: 50px;
    padding:10px 38px;
    background:#fff;
    color:#262626
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:40px 120px;
    color:white;
}

.nav-logo{
    font-family: 'Outfit';
    font-size: 42px;
    font-weight:500;
}

.nav-menu{
    display:flex;
    align-items: center;
    list-style:none;
    font-size:18px;
    gap:90px;
}

.nav-contact{
    border-radius: 50px;
    padding:10px 38px;
    background:#fff;
    color:#262626
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav{
        flex-direction: column;
        align-items: flex-start;
        margin:20px 60px;
    }

    .nav-logo{
        font-size: 30px;
    }

    .nav-menu{
        flex-direction: column;
        align-items: flex-start;
        gap:30px;
        font-size:16px;
    }

    .nav-contact{
        margin-top: 20px;
        padding:10px 20px;
    }
}